.sprite-box-gr {width: 53px;height: 53px;background-position: -262px 0;}
.sprite-money-gr {width: 53px;height: 53px;background-position: -315px 0;}
.sprite-sherif-gr {width: 53px;height: 53px;background-position: -262px -53px;}
.sprite-white-arrow {width: 53px;height: 53px;background-position: -307px -146px;}
.sprite-layer {width: 53px;height: 53px;background-position: -408px 0;}
.sprite-pig {width: 53px;height: 53px;background-position: -408px -53px;}
.sprite-someone {width: 53px;height: 53px;background-position: -408px -106px;}
.sprite-sum {width: 53px;height: 53px;background-position: -408px -159px;}

.sprite-money {width: 44px;height: 44px;background-position: -315px -53px;}
.sprite-printsypy {width: 44px;height: 44px;background-position: -359px -53px;}
.sprite-sut {width: 44px;height: 44px;background-position: -315px -97px;}
.sprite-tsili {width: 44px;height: 44px;background-position: -359px -97px;}

.sprite-icon-calendar {width: 24px;height: 24px;background-position: -537px 0;}
.sprite-icon-calendar-h {width: 24px;height: 24px;background-position: -537px -24px;}
.sprite-attantion {width: 25px;height: 25px;background-position: 0 -546px;}
.sprite-attantion-h {width: 25px;height: 25px;background-position: -25px -546px;}

.sprite-arrow-up {width: 21px;height: 21px;background-position: -368px 0;}
.sprite-social-youtube {width: 21px;height: 21px;background-position: -300px -141px;}
.sprite-coment {width: 21px;height: 21px;background-position: -281px -141px;}
.sprite-refresh {width: 21px;height: 21px;background-position: -461px 0;}

.sprite-check-black {width: 19px;height: 20px;background-position: -389px 0;}
.sprite-check-blue {width: 19px;height: 20px;background-position: -389px -20px;}
.sprite-check-white {width: 19px;height: 20px;background-position: -281px -141px;}

.sprite-coment-border {width: 13px;height: 13px;background-position: -389px -40px;}

.sprite-totop {width: 55px;height: 55px;background-position: -482px 0;}
.sprite-totop-h {width: 55px;height: 55px;background-position: -482px -55px;}
.sprite-todown {width: 55px;height: 55px;background-position: -561px 0;}
.sprite-todown-h {width: 55px;height: 55px;background-position: -537px -55px;}

.sprite-active-add-gray {width: 415px;height: 100px;background-position: 0 -571px;}
.sprite-active-add-tur {width: 394px;height: 100px;background-position: -662px 0;}
.sprite-active-gray {width: 251px;height: 100px;background-position: -662px -100px;}
.sprite-active-oko {width: 142px;height: 100px;background-position: -913px -100px;}
.sprite-active-tur {width: 285px;height: 100px;background-position: -662px -200px;}
.sprite-logo-gray {width: 100px;height: 100px;background-position: -947px -200px;}
.sprite-logo-oko {width: 100px;height: 100px;background-position: -662px -300px;}
.sprite-logo-tur {width: 100px;height: 100px;background-position: -762px -300px;}
li.gray-bg span,
li.green-bg span,
li.blue-bg span{
	display: block;
}
li.green-bg span,
li.blue-bg span{
	margin-top: 16px;
}
li.green-bg.active span,
li.blue-bg.active span{
	margin-top: 23px;
}
.green-bg .sprite-provider{
	width: 100px;
	height: 100px;
	background-position: -762px -300px;
    margin: -12px 0 0 -16px;
    float: left;
}
.green-bg.active .sprite-provider{
	width: 285px;
	height: 100px;
	background-position: -662px -200px;
	margin:-12px -40px 0 0;  
}
.green-bg.active:before{
	content: '';
	display: block;
	float: right;
	background: url('./images/sprite.png') no-repeat;
	width: 394px;
    height: 100px;
    background-position: -662px 0;
    margin: 0 15px;
}
.gray-bg .sprite-tender-search{
	width: 142px;
	height: 100px;
	background-position: -913px -100px;
	margin-left: 5px;
    margin-bottom: 0;
    margin-top: -12px;
    float: left;
}
.expanded .gray-bg .sprite-tender-search{
	width: 100px;
	height: 100px;
	background-position: -662px -300px;
	margin-left: -13px;
    margin-bottom: 0;
    margin-top: -12px;
}
.blue-bg .sprite-customer{
	width: 100px;
	height: 100px;
	background-position: -947px -200px;
	margin: -12px -2px -3px 0;
    float: right;
}
.blue-bg.active .sprite-customer{
	width: 251px;
	height: 100px;
	background-position: -662px -100px;
	margin: -12px 0 -3px -16px;
}
.blue-bg.active:before{
	content: '';
	display: block;
	float: left;
	background: url('./images/sprite.png') no-repeat;
	width: 415px;
    height: 100px;
    background-position: 0 -571px;
    margin: 0 15px;
}
@media only screen and (max-width : 1200px){
	.blue-bg.active:before,
	.green-bg.active:before{
		content: '';
		display: none;
	}
 }
@media only screen and (max-width : 768px){
	li.gray-bg span,
	li.green-bg span,
	li.blue-bg span{
		display: inline-block;
	}
	li.green-bg.active span, 
	li.blue-bg.active span {
	    margin-top: 0;
	}
	.gray-bg .sprite-tender-search,
	.expanded .gray-bg .sprite-tender-search{
		width: 100px;
		height: 100px;
		background-position: -662px -300px;
		margin-left: 5px;
	    margin-bottom: 0;
	    margin-top: -12px;
	    float: none;
	}
	.blue-bg.active .sprite-customer{
		width: 100px;
		height: 100px;
		background-position: -947px -200px;
		margin: -12px -2px -3px 0;
		float: none;
	} 
	.green-bg.active .sprite-provider{
		width: 100px;
		height: 100px;
		background-position: -762px -300px;
	    margin: -12px 0 0 -16px;
	    float: none;
	}
}
@media only screen and (max-width : 480px){
	.sections > li,
	.sections.expanded > li {
	    width: 100%;
	    height: 100px;
	    display: block;
	}
 	.sections > li.active > a {
	    text-align: center;
	}
	li.blue-bg .sprite-customer,
	li.green-bg .sprite-provider,
	li.gray-bg .sprite-tender-search,
	.expanded li.blue-bg .sprite-customer,
	.expanded li.green-bg .sprite-provider,
	.expanded li.gray-bg .sprite-tender-search{
		float: left;
		margin-left: 1px;
	}
	li.green-bg.active span, 
	li.blue-bg.active span,
	li.green-bg span, 
	li.blue-bg span,
	li.gray-bg span {
	    margin-top: 28px;
	    white-space: nowrap;
	    display: inline-block !important;
	}
}
@media only screen and (max-width : 320px){
 	li.green-bg.active span, 
	li.blue-bg.active span,
	li.green-bg span, 
	li.blue-bg span,
	li.gray-bg span{
		font-size: 0.9em;
	}
	nav.top-menu .social {
	    margin-right: -30px !important;
	}
	nav.top-menu .event-calendar{
		margin-left: 22px;
    	margin-right: -25px;
	}
}


.en_content #ua{
	display: none;
}
.ua_content #en{
	display: none;
}

.no-padding{
	padding-right: 0;
	padding-left: 0;
}

.alignleft {
	float: left;
	padding-right: 10px;
}
.alignright {
	float: right;
	padding-left: 10px;
}
.aligncenter{
	float: none;
	display: block;
	padding: 10px;
	margin: 0 auto;
}

.size-full{
	max-width: 100%;
	height: auto;
}

.navbar-brand{
	margin-top: 15px;
}

ol.no-style{
	margin-left: 70px;
    padding: 0;
    list-style-type: decimal;
    font-size: 1.142857em;
}
	ol.no-style > li{
		padding-left: 5px;
		margin-bottom: 0px;
	}
		ol.no-style > li::before{
			display: none;
		} 
.single-content ol.no-style{
	font-size: 1.0em;
}

.site-content table{
	width: 100%;
	margin: 15px 0 30px;
	position: relative;
}
	.site-content table tr{
		border-bottom: 1px solid #eee;
	}
	.site-content table th{
		text-align: center;
		vertical-align: middle;
		color:#24a7d3;
		padding: 5px 10px;
	}
	.site-content table td{
		vertical-align: middle;
		padding: 5px 10px;
	}

.color-arrows{
	width: 100%;
	margin-top: 30px;
}
	.color-arrows > .arrows{
		padding: 0px;
	}
	.color-arrows > .arrows > .title{
		font-size: 1.28em;
	    outline: none;
	    display: block;
	    float: left;
	    width: 99%;
	    line-height: 50px;
	    padding: 0 15px 0 35px;
	    background: #f0f5f2;
	    position: relative;
	    margin-right: 3px;
	    margin-bottom: 3px;
	    color: #333;
	    cursor: default;
	    text-align: center;
	}
		.color-arrows > .arrows > .title:before {
		    content: '';
		    display: block;
		    position: absolute;
		    z-index: 1;
		    right: -19px;
		    width: 0;
		    height: 0;
		    border-width: 25px 0 25px 16px;
		    border-color: transparent transparent transparent #fff;
		    border-style: solid;
		    _border-color: #000000 #000000 #000000 #ffffff;
		    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
		.color-arrows > .arrows > .title:after {
		    content: '';
		    position: absolute;
		    top: 0;
		    right: -16px;
		    width: 0;
		    height: 0;
		    z-index: 2;
		    border-style: solid;
		    border-width: 25px 0 25px 16px;
		    border-color: transparent transparent transparent #f0f5f2;
		    line-height: 0px;
		    _border-color: #000000 #000000 #000000 #f0f5f2;
		    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
	.color-arrows > .arrows.dgrey > .title{
		background-color: #e4e4e6;
	}
		.color-arrows > .arrows.dgrey > .title:after {
			border-color: transparent transparent transparent #e4e4e6;
			 _border-color: #000000 #000000 #000000 #e4e4e6;
		}
	.color-arrows > .arrows.lgrey > .title{
		background-color: #f0f5f2;
	}
		.color-arrows > .arrows.lgrey > .title:after {
			border-color: transparent transparent transparent #f0f5f2;
			 _border-color: #000000 #000000 #000000 #f0f5f2;
		}
	.color-arrows > .arrows.blue > .title{
		background-color: #8cd4ef;
	}
		.color-arrows > .arrows.blue > .title:after {
			border-color: transparent transparent transparent #8cd4ef;
			 _border-color: #000000 #000000 #000000 #8cd4ef;
		}
	.color-arrows > .arrows.green > .title{
		background-color: #88d47e;
	}
		.color-arrows > .arrows.green > .title:after {
			border-color: transparent transparent transparent #88d47e;
			 _border-color: #000000 #000000 #000000 #88d47e;
		}

ul.black-checkboxes,
ul.blue-checkboxes,
ul.white-checkboxes{
	display: block;
	float: left;
	color: #333;
	list-style-type: none;
	margin: 0;
}
	ul.black-checkboxes > li,
	ul.blue-checkboxes > li,
	ul.white-checkboxes > li{
	    padding-left: 25px;
	    position: relative;
	    margin: 10px 0;
	}
		ul.black-checkboxes > li::before,
		ul.blue-checkboxes > li::before,
		ul.white-checkboxes > li::before{
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    line-height: 19px;
		    width: 19px;
		    height: 20px;
		    background: url('images/sprite.png') no-repeat; 
			background-position: -389px 0;
		}
		ul.blue-checkboxes > li::before{
			background-position: -389px -20px;;
		}
		ul.white-checkboxes > li::before{
			background-position: -262px -141px;
		}

.system-advantages--steps.green-list{
	color: #66be59;
}

.page-content p {
	font-size: 16px;
}
	.page-content h1 {
		margin: 30px 0 20px 0;
	}
	.page-content ul.download{
		font-size: 16px;
		list-style: none;
		padding: 0;
		margin: 0 0 20px 20px;
	}
	.page-content .download li{
		margin: 3px 0;
	}
	.page-content .download a::before{
		content: '';
		display: inline-block;
		background: url('images/sprite.png') no-repeat; 
		background-position: -21px -468px; 
		width: 18px; 
		height: 18px; 
		margin:0 3px 3px 0;
		vertical-align: middle;
	}
	.page-content h3{
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
	}
	.page-content .blue-btn{
		margin: 25px 0;
	}
	.page-content .img{
		max-width: 100%;
	}
	/*	.page-content .img img{
			max-height: 100%;
		}*/

.contacts{
	margin-top: 50px;
	text-align: center;
}
.size14, .page-content .size14{font-size: 14px;}
.size18, .page-content .size18{font-size: 18px;}
.size21, .page-content .size21{font-size: 27px;}
.size24, .page-content .size24{font-size: 24px;}
.size27, .page-content .size27{font-size: 27px;}
.size30, .page-content .size30{font-size: 30px;}
.size36, .page-content .size36{font-size: 36px;}
.size55, .page-content .size50{font-size: 50px;}
.size55, .page-content .size55{font-size: 55px;}
.size60, .page-content .size60{font-size: 60px;}
.size65, .page-content .size65{font-size: 65px;}

.page-content img{
	max-width: 100%;
	height: auto;
}

.dogovory .item-wrapper{
	display: inline-block;
	text-align: center;
	width: 95%;
	margin: 10px auto;
	padding: 20px;
	background: #f0f5f2;
	border: 1px solid #f0f5f2;
	-webkit-box-shadow: inset 5px 5px 0px 0px rgba(231, 231, 231, 0.25),
	inset -7px -7px 0px 0px rgba(231, 231, 231, 0.25);
	-moz-box-shadow:    inset -7px -7px 0px 0px rgba(231, 231, 231, 0.25),
	inset 5px 5px 0px 0px rgba(231, 231, 231, 0.25);
	box-shadow:         inset -7px -7px 0px 0px rgba(231, 231, 231, 0.25),
	inset 5px 5px 0px 0px rgba(231, 231, 231, 0.25);;
}
.dogovory .item{	
	background: #fff;
	padding: 10px;
}
.dogovory span{
	display: block;
	margin: 5px 0;
}
	.dogovory span.green{
		line-height: 0.9em;
		margin:0;
	}
	.dogovory span.size65{
		letter-spacing: -0.15em;
	}

.single-content{
	margin-top: 50px;
}
	.single-content .right-col{
		margin-top: 30px;
	}

.top-menu .ofnews{
	line-height: 30px;	
}
	.top-menu .ofnews a:hover i.sprite-attantion,
	.top-menu .ofnews a:focus i.sprite-attantion{
		background-position: -25px -546px;
	}

.top-menu .event-calendar{
	text-align: center;
	line-height: 33px;	
}
.top-menu .event-calendar a i.sprite-icon-calendar{
	margin: 0 10px;
}
	.top-menu .event-calendar a{
		color: #6dc8eb;
	}
	.top-menu .event-calendar a:hover,
	.top-menu .event-calendar a:focus{
		text-decoration: underline;
	}
	.top-menu .event-calendar a:hover i.sprite-icon-calendar,
	.top-menu .event-calendar a:focus i.sprite-icon-calendar{
		background-position: -537px -24px;
	}

.top-menu.navbar-default ul.start-working{
	margin-right: 5px;
}
.top-menu.navbar-default ul.start-working>li:hover,
.top-menu.navbar-default ul.start-working>li:focus,
.top-menu.navbar-default ul.start-working>li.active,
.top-menu.navbar-default ul.start-working>li.active:hover,
.top-menu.navbar-default ul.start-working>li.active:focus{
	background: #97d8f1;
	text-decoration: none;
	color: #333;
}

.top-menu.navbar-default ul.start-working>li>a{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #333;
	line-height: 23px;
}
	.top-menu.navbar-default ul.start-working>li>a:hover,
	.top-menu.navbar-default ul.start-working>li>a:focus,
	.top-menu.navbar-default ul.start-working>li.active>a,
	.top-menu.navbar-default ul.start-working>li.active>a:hover,
	.top-menu.navbar-default ul.start-working>li.active>a:focus{
		text-decoration: none;
		color: #333;
	}
.top-menu.navbar-default .navbar-nav > li > a{
	line-height: 24px;
	color: #6dc8eb;
}
	.top-menu.navbar-default .navbar-nav > li > a:hover,
	.top-menu.navbar-default .navbar-nav > li > a:focus{
	color: #0099cc;
}

ul.language-chooser{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: auto;
	line-height: 30px;
}
	.language-chooser li,
	.qtranxs_widget_end{
		display: inline-block;
		margin: 0 5px;
	}
		.language-chooser li a{
			padding-top: 7px;
		    padding-bottom: 3px;
    	}
		.language-chooser li a:hover,
		.language-chooser li a:focus{
			color: #0099cc;
		}
	.language-chooser li.active,
	.language-chooser li.active a{
		color: #666;
	}

.img_wrapper{
	overflow: hidden;
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

.main-menu .menu-item,
.footer h4{
	text-transform: uppercase;
}

.main-menu .navbar-collapse::after{
	content: '';
	clear: none;
	display: block;
}

.main-menu .registration{
	text-align: center;
	font-weight: bold;
	max-width: 185px;
	line-height: 28px;
	margin: 29px 5px 24px;
	position: relative;
	background-size: cover;
	background: url('images/logo-part.png') 50% 0 no-repeat,-moz-linear-gradient(left,  rgba(143,215,133,1) 0%, rgba(109,200,235,1) 100%); /* FF3.6-15 */
	background: url('images/logo-part.png') 50% 0 no-repeat,-webkit-linear-gradient(left,  rgba(143,215,133,1) 0%,rgba(109,200,235,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: url('images/logo-part.png') 50% 0 no-repeat,linear-gradient(to right,  rgba(143,215,133,1) 0%,rgba(109,200,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: url('images/logo-part.png') 50% 0 no-repeat,progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd785', endColorstr='#6dc8eb',GradientType=1 ); /* IE6-9 */
}
	.main-menu .registration:hover,
	.main-menu .registration:focus{
		background: url('images/logo-part.png') 50% 0 no-repeat,-moz-linear-gradient(left,  rgba(176,227,168,1) 0%, rgba(151,216,241,1) 100%); /* FF3.6-15 */
		background: url('images/logo-part.png') 50% 0 no-repeat,-webkit-linear-gradient(left,  rgba(176,227,168,1) 0%,rgba(151,216,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: url('images/logo-part.png') 50% 0 no-repeat,linear-gradient(to right,  rgba(176,227,168,1) 0%,rgba(151,216,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: url('images/logo-part.png') 50% 0 no-repeat,progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e3a8', endColorstr='#97d8f1',GradientType=1 ); /* IE6-9 */
	}

.expanded .notitle span{
	display: none;
}

.specification h1 {
    padding: 50px 0 45px;
    margin: -15px -15px 15px -15px;
    background: #fff;
}
.specification p{
	display: inline-block;
	width: 33%;
	padding-right: 50px;
	vertical-align: top;
}

h1.page-title{
	margin: 50px 0 35px;
	font-size: 3.75em;
}

.left-menu{
	color: #999999;
	font-size: 1.28em;
	text-align: left;
}
	.left-menu ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	.left-menu ul li{
		display: block;
	}
	.left-menu ul li.sub-cat{
		font-size: 0.95em;
		padding-left: 15px;
	}
	.left-menu a{
		text-decoration: none;
		color: #999999;
	}
	.left-menu a:hover,
	.left-menu a:focus,
	.left-menu .current-cat a,
	.left-menu .current-cat a:hover,
	.left-menu .current-cat a:focus,
	.left-menu .current-menu-item a,
	.left-menu .current-menu-item a:hover,
	.left-menu .current-menu-item a:focus{
		text-decoration: none;
		color: #0099cc;
	}
	.left-menu .more,
	.left-menu .comment,
	.left-menu .news-small{
		font-size: 0.79em;
	}

.faq--qestion a{
	text-decoration: none;
	color: #0099cc;
}	

.faq--qestion a:hover,
.faq--qestion a:focus{
	text-decoration: underline;
	color: #0099cc;
}	

.up,
.more{
	display: block;
	float: right;
	margin: 16px 10px 16px 0;
}

nav.footer .current-menu-item a{
	text-decoration: none;
	color: #0099cc;
}

.blog-all{
	padding: 15px 30px 0 30px;
	margin-bottom: -10px;
}

.blog {
	font-size: 16px;
	margin-top: 30px;
}
.blog .more{
	font-size: 14px;
}
.blog .day{
	display: block;
	font-size: 14px;
	color: #666;
	margin-bottom: 50px;
	font-style: italic;
}
.single .blog .day{
	margin-bottom: 15px;
}
.blog h3{
	text-transform: uppercase;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.blog h3 a:hover,
.blog h3 a:focus{
	color: #0099cc;
}
.blog.first .img_wrapper,
.blog .img_wrapper{
	max-width: 155px;
	margin: 0 20px 20px 0;
}
	.blog.first .img_wrapper img,
	.blog .img_wrapper img{
		max-width: 155px;
	}
 .row:first-child .blog.first .img_wrapper{
	max-width: 300px;
	margin: 0 20px 20px 0;
}
	.row:first-child .blog.first .img_wrapper img:first-child{
		max-width: 300px;
	}

.right-col{
	padding-left: 20px;
}
	.right-col h3{
		text-transform: uppercase;
		color: #666;
	}
	.right-col .news-wrapper{
		margin-top: 35px;
	}
	.right-col .img_wrapper{
		max-width: 40px;
		margin: 0 10px 10px 0;
	}
		.right-col .img_wrapper img{
			max-width: 40px;
		}
	.right-col .avtor{
		font-size: 16px;
		color: #0099cc;
		padding-left: 50px;
	}
		.right-col .avtor:hover,
		.right-col .avtor:focus{
			color: #0099cc;
		}
	.right-col .blog-title{
		color: #333;
		padding-left: 50px;
	}
		.right-col .blog-title a{
			color: #333;
		}
	.right-col .date-time{
		padding: 0 5px 0 50px;
		color: #999;
		font-style: italic;
	}
	.right-col .gray-bg {
		font-size: 14px;
		color: #333;
		position: relative;
		padding-bottom: 50px;
	}	
		.right-col .gray-bg .top-blog {
			height: 105px;
			overflow: hidden;
		}
		.right-col .gray-bg .day{
			display: block;
			font-size: 14px;
			color: #666;
			font-style: italic;
		}
		.right-col .gray-bg .title,
		.right-col .gray-bg .title a{
			text-transform: uppercase;
			font-size: 18px;
			color: #0099cc;
			text-decoration: none;
			margin: 15px 0;
		}
			.right-col .gray-bg .title a:hover,
			.right-col .gray-bg .title a:focus{
				text-decoration: underline;
			}
		.right-col .gray-bg .img_wrapper{
			width: auto;
			max-width: 100%;
		}
		.right-col .gray-bg .img_wrapper img{
			height: 155px;
			width: auto;
			max-width: 100%;
		}
		.right-col .gray-bg .comment{
			font-size: 1em;
			position: absolute;
			left: 15px;
			bottom: 0;
			padding: 16px 10px 16px 0;
			color: #0099cc;
			cursor: default;
		}
			.right-col .gray-bg .comment i{
				width: 21px;
				height: 21px;
				background-position: -281px -141px;
			}
		.right-col .gray-bg .blog--fio{
		    font-size: 1.3em;
			padding-bottom: 10px;
		}
			.right-col .gray-bg .blog--fio a{
				color:#0099cc;
			}
		.right-col .gray-bg .blog-more{
			position: absolute;
		    bottom: 15px;
		    right: 15px;
		}
			.right-col .gray-bg a.blog-more{
				color:#0099cc;
			}
			
	.right-col .news-small{
		margin-bottom: 25px;
	}
		.right-col .news-small .date-time{
			padding: 0;
		}

.navigation{
	font-size: 14px;
	color: #666;
}
	.navigation .page-numbers{
		text-decoration: none;
		border: 1px #fff solid;
		padding: 0 5px;
	}
	.navigation .page-numbers:hover,
	.navigation .page-numbers:focus{
		border: 1px #7ecfed solid;
		border-radius: 50%;		
	}
	.navigation .page-numbers.prev:hover,
	.navigation .page-numbers.prev:focus,
	.navigation .page-numbers.next:hover,
	.navigation .page-numbers.next:focus,
	.navigation .page-numbers.dots:hover,
	.navigation .page-numbers.dots:focus
	{
		border: 1px #fff solid;
		border-radius: 0;
	}
	.navigation .page-numbers.current,
	.navigation .page-numbers.current:hover,
	.navigation .page-numbers.current:focus{
		border: 1px #7ecfed solid;
		border-radius: 50%;
		background: #7ecfed;
		color: #fff;
	}

.monitoring {
	text-align: center;
	padding-left: 0;
    margin: 40px 0 25px;
    list-style: none;
}
	.monitoring img{
		max-width: 100%;
		max-height: 50px;		
	}
	.monitoring .img {
		line-height: 75px;
	}

.partners {
	text-align: center;
	line-height: 120px;
}
	.partners img{
		max-width: 95%;
		max-height:95%;
	}
	.partners div[class^="col-"]{
		height: 120px;
		overflow: hidden;
		vertical-align: middle;
	}

.provider-menu,
.customer-menu {
	border-bottom: 2px solid #eeeeee;
}
.provider-menu .nav>li,
.customer-menu .nav>li{
	display: inline-block;
	margin: 5px 0 5px 25px;
}
.provider-menu .nav>li>a,
.customer-menu .nav>li>a  {
   color:#333 ;
   white-space: nowrap;
}
	.provider-menu .nav>li>a:focus,
	.provider-menu .nav>li>a:hover,
	.provider-menu .nav>li.current-menu-item>a{
		color: #33b220;
	    background: none;
	}
	.customer-menu .nav>li>a:focus,
	.customer-menu .nav>li>a:hover,
	.customer-menu .nav>li.current-menu-item>a{
		color: #6dc8eb;
	    background: none;
	}
		.provider-menu .nav>li>a,
		.customer-menu .nav>li>a {
		    position: relative;
		    display: block;
		    padding: 5px;
		}

.faces{
	text-align: center;
	padding:20px 0 15px 0;
}
	.faces img{
		max-height: 150px;
		min-width: 150px;
		border-radius: 75px;
	}
	.faces ul{
		list-style: none;
	}
	.faces li{
		padding: 0 10px;
	}
	.faces span{
		display: block;
		line-height: 1em;
		margin: 15px 0;
	}
	.faces .size21{
		font-family: 'Open Sans', sans-serif;
	}

.home {font-size: 14px;margin-top:0px;}

.news-wrapper .comment{
	float: right;
}
h3.title{
	text-transform: none;
}


.back-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 55px;
    height: 55px;
    background: url('./images/sprite.png') no-repeat;
    background-position: -482px 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
    padding: 1em;
    display: none;
}
	.back-to-top:hover {    
	    background-position: -482px -55px;
	    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);
		-moz-opacity: 1.0;
		-khtml-opacity: 1.0;
		opacity: 1.0;
	}
.go-down {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 55px;
    height: 55px;
    background: url('./images/sprite.png') no-repeat;
    background-position: -561px 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.4);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
    padding: 1em;
    display: none;
}
	.go-down:hover {    
	    background-position: -537px -55px;
	    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);
		-moz-opacity: 1.0;
		-khtml-opacity: 1.0;
		opacity: 1.0;
	}

.gray-bg  hr{
	margin: 5px 0;
}
.gray-bg .top-blog {
	height: 105px;
	overflow: hidden;
}
.gray-bg .day{
	display: block;
	font-size: 14px;
	color: #666;
	font-style: italic;
}
.gray-bg .title,
.gray-bg .title a{
	text-transform: uppercase;
	font-size: 18px;
	color: #0099cc;
	text-decoration: none;
	margin: 8px 0;
}
	.gray-bg .title a:hover,
	.gray-bg .title a:focus{
		text-decoration: underline;
	}
.gray-bg .img_wrapper img{
	height: 155px;
	width: auto;
	max-width: 100%;
}
.gray-bg .comment{
	position: absolute;
	left: 15px;
	bottom: 0;
	padding: 16px 10px 16px 0;
	color: #0099cc;
	cursor: default;
}
	.gray-bg .comment i{
		width: 21px;
		height: 21px;
		background-position: -281px -141px;
	}

@media (min-width: 769px) and (max-width: 1120px) {
	.top-menu .event-calendar span.text,
	.top-menu .social-top li.title{
		display: none;
	}
	.main-menu .registration{
		margin: 35px 20px;
		line-height: 18px;
		padding: 12px 15px;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.visible-sm {
	    display: inline-block!important;
	}
	.top-menu .social {
	    margin-right: 20px !important;
	}
}
@media (max-width: 1020px) {
	.navbar-header .navbar-brand {
		margin: 15px 0;
		padding: 0 15px;
	}
    .navbar-header {
    	margin-top: 15px;
    	margin-bottom: 15px;
        float: none;
    }
    .main-menu .registration {
   		margin: 20px;
   		display: inline-block!important;
	}
	.main-menu .navbar-header>.registration.hidden-md{
		display: none!important;
	}
    .navbar-toggle {
        display: block;
        margin-top: 23px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
        font-size:14px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top-menu .event-calendar,
	.top-menu ul.language-chooser{
		line-height: 45px;
	}
	.top-menu .ofnews{
		line-height: 43px;
	}
	.navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .main-menu--list .nav>li {
	    position: relative;
	    display: block;
	    width: 100%;
	}
	.main-menu .navbar-nav > li{
		padding: 0 15px;
	}
	.pull-right{
		float: right!important;
	}
}

@media (max-width: 1190px) {
	.top-menu .event-calendar span.text{
		display: none;
	}
	.top-menu .social{
		margin-right: 70px;
	}
	.main-menu--list ul.nav li{
		font-size:12px;
	}
 }
@media (min-width: 992px) { 
	.top-menu ul.language-chooser {
		margin-left: 30px;
	}
	.top-menu .event-calendar{
		float: right;
		text-align: right;
	}
	.top-menu .social{
		float: right;
		margin-right: 40px;
	}
	
	.navbar-header .registration.hidden-md{
		float: right;
		display: inline-block!important;
	}
}

@media (min-width:768px) and (max-width: 992px) { 
	.specification p{
		display: inline-block;
		width: 49%;
	}
	.top-menu .event-calendar span.text,
	.top-menu .social-top li.title{
		display: none;
	}
	.top-menu ul.language-chooser {
		margin-left: 30px;
	}
	.event-calendar{
		float: right;
	}
}

@media (max-width: 768px) {
	.page-content iframe{
		max-width: 100%;
		height: auto;
	}
	.navbar-header .navbar-brand {
		margin: 15px 0;
		padding: 0 15px;
	}
	.main-menu .registration{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.navbar-header.pull-right{
		width: 100%;
	}
	.main-menu--list ul.nav li{
		font-size: 14px;
	}
	.top-menu .social {
	    margin-right: 10px !important;
	}
	.specification p{
		display: inline-block;
		width: 99%;
	}

	.left-menu ul li{
		display: inline-block;
		margin: 5px 25px 5px 0;
	}

	.left-menu ul::after{
		content: '';
		height: 1px;
		width: 100%;
		display: block;
		background: #eee; 
		margin-bottom: 15px;
	}

	.faq .inline-navbar{
		width: auto;
		float: left;
	}

	.faq .navbar-nav{
		margin: 0;
	}

	.top-menu .event-calendar span.text,
	.top-menu .social-top li.title{
		display: none;
	}
	.top-menu .event-calendar,
	.top-menu ul.language-chooser,
	.top-menu ul.social-top{
		line-height: 45px;
	}
	ul.start-working{
		margin-left: 15px;
	}
	.container>.navbar-header{
		margin-left: 0px;
		margin-right: 0px;
	}
	

	.footer .nav ul.social-top{
		float: left;
	}
	ul.share {
		margin-left: -15px;
	}
	.more{
		float: left;
	}

}
/*********************************************** Registration POPUP **********************************************************************************/
.startpopup{
	position: fixed;
    display: none;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.61);
}
.startpopup-wrapper {
    position: absolute;
    z-index: 25;
    width: 40.25%;
    min-width: 300px;
    height: auto;
    min-height: 350px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border:2px solid #2ab2ea;
    padding: 50px;
    text-align: center;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow:    7px 7px 0px 0px rgba(0, 0, 0, 0.11);
	box-shadow:         7px 7px 0px 0px rgba(0, 0, 0, 0.11);
}
.startpopup-wrapper h1{
	text-align: center;
}
.startpopup-wrapper h1#title{
	margin:0 0 50px;
}
.startpopup-wrapper #btn a{
	padding: 25px;
	-webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow:    7px 7px 0px 0px rgba(0, 0, 0, 0.11);
	box-shadow:         7px 7px 0px 0px rgba(0, 0, 0, 0.11);
}
.startpopup-wrapper a{
	width: 90%;
	display: block;
	margin: 25px auto;	
}
.startpopup-wrapper .close-startpopup {
    display: block;
    position: absolute;
    top:-33px;
    right: 0;
    float: right;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 2px solid #2ab2ea;
    border-radius: 50%;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}
	.startpopup-wrapper a.close-startpopup:hover,
	.startpopup-wrapper a.close-startpopup:focus{
		text-decoration: none;
	}



/*********************************************** Accordion **********************************************************************************/
h3.accordion-title{
	font-size: 16px;
	text-transform: none;
	color: #0099cc;
}
h3.accordion-title:hover,
h3.accordion-title:focus{
	text-transform: none;
	text-decoration: underline;
}
/*********************************************** CALENDAR **********************************************************************************/

.page-content .ai1ec-calendar-toolbar{
	display: none;
}
.page-content .ai1ec-title-buttons .ai1ec-btn-group {
	margin-left: 0px;
}
.page-content .ai1ec-btn-toolbar {
	margin: 0 0 15px 0;
}
.page-content .ai1ec-btn-group {
	margin: 15px 0 0;
}
.page-content .ai1ec-title-buttons .ai1ec-prev-year,
.page-content .ai1ec-title-buttons .ai1ec-next-year,
.page-content .ai1ec-title-buttons .ai1ec-prev-day,
.page-content .ai1ec-title-buttons .ai1ec-next-day,
.page-content .ai1ec-btn-group .ai1ec-prev-year,
.page-content .ai1ec-btn-group .ai1ec-next-year,
.page-content .ai1ec-btn-group .ai1ec-prev-day,
.page-content .ai1ec-btn-group .ai1ec-next-day,
.page-content .ai1ec-views-dropdown .ai1ec-btn,
.page-content .ai1ec-views-dropdown .ai1ec-dropdown-menu {
	border-radius: 0px;
}
.page-content .ai1ec-views-dropdown .ai1ec-dropdown-menu .ai1ec-active a{
	background: #6dc8eb;
}
.page-content .ai1ec-title-buttons a:hover,
.page-content .ai1ec-title-buttons a:focus,
.page-content .ai1ec-views-dropdown a:hover,
.page-content .ai1ec-views-dropdown a:focus,
.page-content a.ai1ec-btn-default:hover,
.page-content a.ai1ec-btn-default:focus{
	background: #f0f5f2;
}

.site-content .ai1ec-month-view td,
.site-content .ai1ec-week-view td,
.site-content .ai1ec-oneday-view td{
	vertical-align: top;
}

.page-content .ai1ec-month-view, 
.page-content .ai1ec-week-view,
.page-content .ai1ec-week-view table.tablescroll_head tr,
.page-content .ai1ec-oneday-view,
.page-content .ai1ec-oneday-view table.tablescroll_head tr,
.page-content .ai1ec-month-view td, 
.page-content .ai1ec-week-view td,
.page-content .ai1ec-oneday-view td {
	border: 3px solid #fff !important;
}
.page-content .ai1ec-oneday-view .ai1ec-quarter-marker, 
.page-content .ai1ec-week-view .ai1ec-quarter-marker{
    border-top: 1px solid rgba(255,255,255,0.5) !important;
}
.page-content .ai1ec-oneday-view .ai1ec-hour-marker, 
.page-content .ai1ec-week-view .ai1ec-hour-marker{
	border-top: 2px solid rgba(255,255,255,1) !important;
}

.page-content .ai1ec-month-view .ai1ec-date,
.page-content .ai1ec-week-view .ai1ec-date,
.page-content .ai1ec-oneday-view .ai1ec-date{
	background: none;
	text-shadow: none;
	font-size: 0.9em;
	padding: 0.4em;
	margin-bottom: 10px;
}
.page-content .ai1ec-month-view .ai1ec-weekday,
.page-content .ai1ec-week-view .ai1ec-weekday,
.page-content .ai1ec-oneday-view .ai1ec-weekday,
.tablescroll_head th.ai1ec-weekday {
	background: none;
	text-shadow: none;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center !important;
}
.ai1ec-week-view th .ai1ec-weekday-day, 
.ai1ec-oneday-view th .ai1ec-weekday-day,
.ai1ec-week-view th .ai1ec-weekday-date, 
.ai1ec-oneday-view th .ai1ec-weekday-date{
	font-size: 1em !important;
}
.page-content .ai1ec-oneday-view .ai1ec-allday-events,
.page-content .ai1ec-week-view .ai1ec-allday-events{
	display: none;
}

.page-content .ai1ec-week-view .ai1ec-hour-marker div,
.page-content .ai1ec-week-view .ai1ec-allday-label,
.page-content .ai1ec-oneday-view .ai1ec-oneday-view-original .ai1ec-hour-marker div,
.page-content .ai1ec-oneday-view .ai1ec-oneday-view-original .ai1ec-allday-label {
	font-size: 0.9em !important;
	border-radius: 0;
	text-shadow: none;
	padding: 3px;
	margin-left: 3px;	
}
/*.ai1ec-month-view .ai1ec-event{
	height: 28px !important;
}*/
/*.ai1ec-event-title{
	display: block;
}*/
/*.page-content .ai1ec-month-view .ai1ec-event{
	margin: 2px 5px;
}
.page-content .ai1ec-week-view .ai1ec-event,
.page-content .ai1ec-oneday-view .ai1ec-event{
	padding: 2px 5px;
}*/
.ai1ec-month-view .ai1ec-event-container{
	background: #b0e3a8;
}
.page-content table[class*="-week-view"] tr[class*="-week"] a[class*="-event-container"],
.page-content div[class*="-oneday-view"] tr[class*="-oneday"] a[class*="-event-container"]{
	background-image: none;
	border-radius: 0;
	border:none;
	box-shadow: none;
	text-shadow: none;
}
.page-content table[class*="-week-view"] tr[class*="-week"] a[class*="-event-container"] span[class*="-event-time"],
.page-content div[class*="-oneday-view"] tr[class*="-oneday"] a[class*="-event-container"] span[class*="-event-time"],
.page-content table[class*="-week-view"] tr[class*="-week"] a[class*="-event-container"] span[class*="-event-title"],
.page-content div[class*="-oneday-view"] tr[class*="-oneday"] a[class*="-event-container"] span[class*="-event-title"]{
	font-size: 1.2em !important;
}
.page-content .tablescroll_head tr th:last-child{
	width: auto !important;
}
.page-content .pastday a.ai1ec-load-view,
.page-content .pastday a.ai1ec-load-view a:hover,
.page-content .pastday a.ai1ec-load-view a:focus{
	color: #ccc;
}
table.ai1ec-month-view td.pastday,
table.ai1ec-month-view td.ai1ec-empty{
	background: #f7faf8 !important;
}
.page-content .ai1ec-today a.ai1ec-load-view,
.page-content .ai1ec-today a.ai1ec-load-view a:hover,
.page-content .ai1ec-today a.ai1ec-load-view a:focus{
	color: #333;
}
table.ai1ec-month-view td.ai1ec-today{
	background: #a3ddf2 !important;
}
  

/******************************************** END CALENDAR ********************************************************************************/